.container {
  width: 100%;
}
.title {
  color: #3e4462;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.24px;
  margin: 0 0 32px 0;
}
.item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(112, 112, 112, 0.17);
  padding-bottom: 14px;
}
.item:not(:last-child) {
  margin-bottom: 24px;
}
.img {
  width: 104px;
  height: 85px;
  border-radius: 6px;
  margin-right: 12px;
}
.name {
  color: #3e4462;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.24px;
  margin: 0;
}

.list a {
  text-decoration: none;
}

.description {
  color: #7e7e7e;
  white-space: wrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.24px;
  padding-right: 14px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .title {
    margin: 0 0 40px 0;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    max-width: 336px;
    display: flex;
    border-bottom: 1px solid rgba(112, 112, 112, 0.17);
    padding-bottom: 14px;
  }
  .item:not(:last-child) {
    margin-bottom: 0;
  }
  .item:nth-child(1) {
    margin-right: 32px;
    margin-bottom: 32px;
  }

  .item:nth-child(2) {
    margin-bottom: 32px;
  }

  .item:nth-child(3) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 325px;
    position: absolute;
    top: 400px;
    right: 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .item {
    max-width: 336px;
    display: flex;
    border-bottom: 1px solid rgba(112, 112, 112, 0.17);
    padding-bottom: 14px;
  }
  .item:not(:last-child) {
    margin-bottom: 24px;
  }
  .item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .item:nth-child(2) {
    margin-bottom: 24px;
  }

  .item:nth-child(3) {
    margin-right: 0;
  }
}
