.CategoriesPage_nav {
    margin-top: 100px;
    display: flex;
    width: 1350px;
    height: 56px;
    justify-content: space-around;
    border-bottom: 1px solid #E0E0E0;
  }
.CategoriesPage_nav_h2 {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
    display: block;
  }
  
  .CategoriesPage_nav_h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -23px;
    width: 0;
    height: 2px;
    background-color: #8BAA36;
    transition: width 0.1s, opacity 0.1s;
    opacity: 0;
  }
  
  .CategoriesPage_nav_h2.selected::after {
    width: 100%;
    opacity: 1;
  }
  
  .CategoriesPage_nav_h2:hover {
    color: #8BAA36;
    cursor: pointer;
  }
  .CategoriesPage_nav_h2:hover::after {
    width: 100%;
    opacity: 1;
  }
