.RecipeListHead {
  margin: 50px 100px 0px 100px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 375px) {
    min-width: 343px;
    min-height: 42px;
  }
  padding: 21px 40px 21px 40px;
  margin-bottom: 24px;

  background: rgba(139, 170, 54, 1);
  border-radius: 8px;
}
.RecipeListHeadText {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
  color: rgba(250, 250, 250, 1);
}
.RecipeListHeadText:last-child {
  padding-left: 109px;
}
.RecipeListList {
  margin: 50px 100px 0px 100px;
}
.RecipeListListLi {
  background: rgba(235, 243, 212, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 0px 70px 0px 32px;
  @media screen and (min-width: 375px) {
    min-width: 343px;
    min-height: 86px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.RecipeListListLiDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}
.RecipeListListLiDivImg {
  height: 128px;
  width: 128px;
  margin: 26px;
}
.RecipeListListLiDivTitle {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.24px;
  color: rgba(62, 68, 98, 1);
  margin-left: 40px;
}
.RecipeListListLiInpiut {
  display: flex;
  align-items: center;
}
.RecipeListListLiInpiutMesure {
  color: rgba(250, 250, 250, 1);
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  min-height: 23px;
  padding: 4px;
  margin-right: 28px;
  text-align: center;
  background: rgba(139, 170, 54, 1);
  border-radius: 4px;
  line-height: 1.5;
}
.RecipeListListLiInpiutInput {
  margin: 0;
  height: 35px;
  width: 35px;
  margin-left: 131px;
  background: transparent;
  appearance: none;
  border: 1px solid rgba(126, 126, 126, 0.5);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.RecipeListListLiInpiutInput:checked {
  background-image: url(../../../images/RecepiePage/pick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
}
